<div class="mainDiv card-body">

<div class="headerDiv center">
  <h5>List of largest banks in the United States</h5>
</div>
<button mat-raised-button class="customLegend" color="primary" (click)="print()">Print</button>

<label *ngIf="!isValidData && !isLoading">Data Not Found</label>

<div class="card-body chartDiv" *ngIf="isValidData">

    <mat-progress-bar *ngIf="!isChartLoaded" mode="indeterminate"></mat-progress-bar>
    <div class="customLegend" *ngIf="isChartLoaded">
        <div class="row">
            <div class="customColor red" matTooltip="Below $750"></div>
            <div class="customColor orange" matTooltip="Between $750 - $1500"></div>
            <div class="customColor green" matTooltip="Above $1500"></div>
          </div>
    </div>
    <google-chart (chartReady)="isChartLoaded=true" [data]="barChartData"></google-chart>


</div>

<div class="card-body" >

    <mat-form-field>
        <input matInput (keyup)="search($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" class="dataTable" matSort>
    
        <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{column}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header calss="center"> 
              {{lableNames[column]}}
          </th>
          <td mat-cell *matCellDef="let row" calss="center"> 
            <span *ngIf="column==='totalAssets' || column ==='marketCapitalization' "> {{ (row[column]!==null) ?  (row[column] | currency) : 'N/A'}} </span>
            <span *ngIf="column!=='totalAssets' && column !=='marketCapitalization'"> {{row[column]}} </span>

          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="pageOptions" showFirstLastButtons></mat-paginator>
    </div>
    

</div>

</div>
<div class="card-footer footer">
    <label> This information is taken from <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_largest_banks_in_the_United_States">wikipedia</a> </label>
    <br>
    <span> Project Author :  Sudheer Mende</span>
  </div>