.headerDiv{
    height:60px;
}
.dataTable{
    width:100%;
}
.center{
    text-align: center;
}
.chartDiv{
    min-height: 600px;
}
.customLegend{
    position: relative;
    left:90%;
}
.customColor{
    height:15px;
    width:15px;
    margin:5px;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.footer{
    color:gray;
    font-size: 12px;
}